## This file is a general .ucf for the Anvyl board
## To use it in a project:
## - uncomment the lines corresponding to used pins
## - rename the used signals according to the project

## Clock pins
PIN "clock_generator/clkout1_buf.O" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "RAMRapper/u_memory_interface/memc3_infrastructure_inst/U_BUFG_CLK0.O" CLOCK_DEDICATED_ROUTE = FALSE;

## Clock Signal
NET CLK	LOC=D11 |	IOSTANDARD = "LVCMOS33";
NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

NET RST 	LOC=E6; 

## AUDIO
NET AUD_DACDAT		LOC=A5	| IOSTANDARD=LVCMOS33; 	#Bank = 0, pin name = IO_L2N_0,	Sch name = AC-PBDAT
NET AUD_DACLRCK 	LOC=D6	| IOSTANDARD=LVCMOS33; 	#Bank = 0, pin name = IO_L3P_0,	Sch name = AC-PBLRC #DAC Playback sampling rate clock
NET AUD_ADCDAT		LOC=C6	| IOSTANDARD=LVCMOS33;	#Bank = 0, pin name = IO_L3N_0,	Sch name = AC-RECDAT
NET AUD_ADCLRCK	LOC=B6	| IOSTANDARD=LVCMOS33;	#Bank = 0, pin name = IO_L4P_0,	Sch name = AC-RECLRC #ADC Recording sampling rate clock

NET AUD_MUTE	LOC=A15	 | IOSTANDARD=LVCMOS33; #Bank = 0, pin name = IO_L62N_VREF_0,	Sch name = AC-MUTE	# mute
NET AUD_XCK		LOC=A6 	 | IOSTANDARD=LVCMOS33;	#Bank = 0, pin name = IO_L4N_0,	Sch name = AC-MCLK
NET AUD_BCLK 	LOC=B12 	 | IOSTANDARD=LVCMOS33;	#Bank = 0, pin name = IO_L36P_GCLK15_0,	Sch name = AC-BCLK

NET AUD_I2C_SDAT LOC=C5 |	PULLUP	|	IOSTANDARD=LVCMOS33;		#Bank = 0, pin name = IO_L1N_VREF_0,	Sch name = SCL
NET AUD_I2C_SCLK LOC=A4 |	PULLUP	|	IOSTANDARD=LVCMOS33;		#Bank = 0, pin name = IO_L2P_0,			Sch name = SDA;

NET PLL_LOCKED  LOC=AB4;

## Key Pad
NET "KYPD_COL[0]"	LOC = H8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L58P_3,	Sch name = COL1
NET "KYPD_COL[1]"	LOC = J7	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L58N_3,	Sch name = COL2
NET "KYPD_COL[2]"	LOC = K8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L59P_3,	Sch name = COL3
NET "KYPD_COL[3]"	LOC = K7	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L59N_3,	Sch name = COL4
	
NET "KYPD_ROW[0]"	LOC = E4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60P_3,	Sch name = ROW1
NET "KYPD_ROW[1]"	LOC = F3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L60N_3,	Sch name = ROW2
NET "KYPD_ROW[2]"	LOC = G8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L73P_3,	Sch name = ROW3
NET "KYPD_ROW[3]"	LOC = G7	|	IOSTANDARD=LVCMOS18; 	#Bank = 3, pin name = IO_L73N_3,	Sch name = ROW4

## Switches
#NET "switches[0]"	LOC= V5	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L13N_3,	Sch name = SW0
#NET "switches[1]"	LOC= U4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18P_3,	Sch name = SW1
#NET "switches[2]"	LOC= V3	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L18N_3,	Sch name = SW2
#NET "switches[3]"	LOC= P4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21P_3,	Sch name = SW3
#NET "switches[4]"	LOC= R4	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L21N_3,	Sch name = SW4
#NET "switches[5]"	LOC= P6	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22P_3,	Sch name = SW5
#NET "switches[6]"	LOC= P5	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L22N_3,	Sch name = SW6
#NET "switches[7]"	LOC= P8	|	IOSTANDARD=LVCMOS18;		#Bank = 3, pin name = IO_L23P_3,	Sch name = SW7

## LEDs
NET "leds[0]"	LOC=W3 ;
NET "leds[1]"	LOC=Y4 ;
NET "leds[2]"	LOC=Y1 ;	
NET "leds[3]"	LOC=Y3 ;	
#NET "leds[4]"	LOC=AB4;	
#NET "leds[5]"	LOC=W1;	
#NET "leds[6]"	LOC=AB3;	
#NET "leds[7]"	LOC=AA4;

## Dip Switches
#NET "dip_switches[0]"	LOC = G6	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L74P_3,	Sch name = DIPA-1
#NET "dip_switches[1]"	LOC = G4	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L74N_3,	Sch name = DIPA-2
#NET "dip_switches[2]"	LOC = F5	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L75P_3,	Sch name = DIPA-3
#NET "dip_switches[3]"	LOC = E5	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L75N_3,	Sch name = DIPA-4
#NET "dip_switches[4]"	LOC = F8	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L80P_3,	Sch name = DIPB-1
#NET "dip_switches[5]"	LOC = F7	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L80N_3,	Sch name = DIPB-2
#NET "dip_switches[6]"	LOC = C4	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L81P_3,	Sch name = DIPB-3
#NET "dip_switches[7]"	LOC = D3	|	IOSTANDARD=LVCMOS18; 		#Bank = 3, pin name = IO_L81N_3,	Sch name = DIPB-4

# RS232
NET "RS232_Uart_TX"	LOC =T19		| 	IOSTANDARD = "LVCMOS33";
NET "RS232_Uart_RX"	LOC =T20 	| 	IOSTANDARD = "LVCMOS33";

# Memory Controller Timing/Perf Constraints 
CONFIG MCB_PERFORMANCE = STANDARD;

# DDR2 Differential CLK
NET "HW_RAM_CK"		LOC = "F2" | IOSTANDARD = DIFF_SSTL2_II;
NET "HW_RAM_CKN"		LOC = "F1" | IOSTANDARD = DIFF_SSTL2_II;

# DDR2 Control
NET "HW_RAM_CKE"		LOC = "J6"; 
NET "HW_RAM_CASN"		LOC = "P3";
NET "HW_RAM_LDM"		LOC = "H1";
NET "HW_RAM_ODT"		LOC = "M3";
NET "HW_RAM_RASN"		LOC = "N4";
NET "HW_RAM_UDM"		LOC = "H2";
NET "HW_RAM_WEN"		LOC = "D2";

# DDR2 Differential Control Signals
NET "HW_RAM_LDQS_N" LOC = "L1"| IOSTANDARD = DIFF_SSTL2_II;
NET "HW_RAM_LDQS_P" LOC = "L3"| IOSTANDARD = DIFF_SSTL2_II;
NET "HW_RAM_UDQS_N" LOC = "T1"| IOSTANDARD = DIFF_SSTL2_II;
NET "HW_RAM_UDQS_P" LOC = "T2"| IOSTANDARD = DIFF_SSTL2_II;

# DDR2 Data
NET "HW_RAM_DQ[0]" LOC = "N3";
NET "HW_RAM_DQ[1]" LOC = "N1";
NET "HW_RAM_DQ[2]" LOC = "M2";
NET "HW_RAM_DQ[3]" LOC = "M1";
NET "HW_RAM_DQ[4]" LOC = "J3";
NET "HW_RAM_DQ[5]" LOC = "J1";
NET "HW_RAM_DQ[6]" LOC = "K2";
NET "HW_RAM_DQ[7]" LOC = "K1";
NET "HW_RAM_DQ[8]" LOC = "P2";
NET "HW_RAM_DQ[9]" LOC = "P1";
NET "HW_RAM_DQ[10]" LOC = "R3";
NET "HW_RAM_DQ[11]" LOC = "R1";
NET "HW_RAM_DQ[12]" LOC = "U3";
NET "HW_RAM_DQ[13]" LOC = "U1";
NET "HW_RAM_DQ[14]" LOC = "V2";
NET "HW_RAM_DQ[15]" LOC = "V1";
NET "HW_RAM_DQ[*]" IOSTANDARD = SSTL2_II;
NET "HW_RAM_DQ[*]" IN_TERM = NONE;

# DDR2 Address
NET "HW_RAM_AD[0]" LOC = "M5";
NET "HW_RAM_AD[1]" LOC = "L4";
NET "HW_RAM_AD[2]" LOC = "K3";
NET "HW_RAM_AD[3]" LOC = "M4";
NET "HW_RAM_AD[4]" LOC = "K5";
NET "HW_RAM_AD[5]" LOC = "G3";
NET "HW_RAM_AD[6]" LOC = "G1";
NET "HW_RAM_AD[7]" LOC = "K4";
NET "HW_RAM_AD[8]" LOC = "C3";
NET "HW_RAM_AD[9]" LOC = "C1";
NET "HW_RAM_AD[10]" LOC = "K6";
NET "HW_RAM_AD[11]" LOC = "B1";
NET "HW_RAM_AD[12]" LOC = "J4";
NET "HW_RAM_AD[*]" IOSTANDARD = SSTL2_II;

# DDR2 Bank Select Pins
NET "HW_RAM_BA[0]" LOC = "E3";
NET "HW_RAM_BA[1]" LOC = "E1";
NET "HW_RAM_BA[2]" LOC = "D1";
NET "HW_RAM_BA[*]" IOSTANDARD = SSTL2_II;

# Uncomment next FOUR lines if NOT using ram black box
#NET "*/memc3_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/selfrefresh_mcb_mode" TIG;
#NET "*/c?_pll_lock" TIG;
#INST "*/memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/DONE_SOFTANDHARD_CAL*" TIG;
#NET "*/memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/CKE_Train" TIG; ##This path exists for DDR2 only

#Please uncomment the below TIG if used in a design which enables self-refresh mode
#NET "memc?_wrapper_inst/mcb_ui_top_inst/mcb_raw_wrapper_inst/gen_term_calib.mcb_soft_calibration_top_inst/mcb_soft_calibration_inst/SELFREFRESH_MCB_REQ" TIG;